# --- Visual Studio / .NET ---
/backend/bin/
/backend/obj/
/backend/.vs/

#--- Node.js / Angular ---
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/cache/
/Backend/BolsaEmpleoUnphu.API/.vs/BolsaEmpleoUnphu.API/FileContentIndex/47cbecaf-7436-4b59-92ea-767127fac923.vsidx
/Backend/BolsaEmpleoUnphu.API/.vs/BolsaEmpleoUnphu.API/FileContentIndex/0ded72e1-1cb8-4f10-86f6-77b81a4a0582.vsidx
/Backend/BolsaEmpleoUnphu.API/.vs/BolsaEmpleoUnphu.API/FileContentIndex/512c2bcf-3ad8-4141-abdc-9d9337110586.vsidx
/Backend/BolsaEmpleoUnphu.API/.vs/BolsaEmpleoUnphu.API/FileContentIndex/748d838c-6d3f-4c6d-8b55-ec1a4b7e4422.vsidx
/Backend/BolsaEmpleoUnphu.API/.vs/BolsaEmpleoUnphu.API/FileContentIndex/868a233e-c331-4da8-be48-4cf987053e76.vsidx
/Backend/BolsaEmpleoUnphu.API/.vs/BolsaEmpleoUnphu.API/FileContentIndex/d60f0856-a6bc-41f4-8388-db9dfda7194f.vsidx
