# --- Visual Studio / .NET ---
/backend/bin/
/backend/obj/
/backend/.vs/

#--- Node.js / Angular ---
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/cache/
/Backend/BolsaEmpleoUnphu.API/.vs/BolsaEmpleoUnphu.API/FileContentIndex/47cbecaf-7436-4b59-92ea-767127fac923.vsidx
/Backend/BolsaEmpleoUnphu.API/.vs/BolsaEmpleoUnphu.API/FileContentIndex/24cdbb85-1767-439d-bf1c-2df08bdc2071.vsidx
/Backend/BolsaEmpleoUnphu.API/.vs/BolsaEmpleoUnphu.API/FileContentIndex/8b085e9f-aa73-4057-8082-13f7ac1fc7e8.vsidx
/Backend/BolsaEmpleoUnphu.API/.vs/BolsaEmpleoUnphu.API/FileContentIndex/cfd1e16d-8bb5-401f-9f4d-a526245438ce.vsidx
/Backend/BolsaEmpleoUnphu.API/.vs/BolsaEmpleoUnphu.API/FileContentIndex/e37f18a4-3373-45fe-8194-e8e206de8ca2.vsidx
/Backend/BolsaEmpleoUnphu.API/.vs/BolsaEmpleoUnphu.API/FileContentIndex/40884b7d-a3ee-4d32-8b79-92c1a0fd4ffd.vsidx
/Backend/BolsaEmpleoUnphu.API/.vs/BolsaEmpleoUnphu.API/FileContentIndex/5777bbf2-10a8-445a-88f6-fff302306533.vsidx
/Backend/BolsaEmpleoUnphu.API/.vs/BolsaEmpleoUnphu.API/FileContentIndex/8b900aba-258b-48cc-bfe1-e10b1f27cc93.vsidx
/Backend/BolsaEmpleoUnphu.API/.vs/BolsaEmpleoUnphu.API/FileContentIndex/b0702b6e-f326-48e3-90c4-a00999252ca8.vsidx
/Backend/BolsaEmpleoUnphu.API/.vs/BolsaEmpleoUnphu.API/FileContentIndex/b7002d8b-80d8-41bd-887e-9f5712c253ae.vsidx
